body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
    text-align: left;
    margin: 0;
}

li {
    padding: 8px 0px;
}

.task{
    font-size: 12pt;
}

a {
    font-size: 11px;
    color: dodgerblue;
}

.links
{
    margin-top: 05px;
}


.links a:last-child
{
    margin-left: 10px;
}

.task.complete {
    text-decoration: line-through;
    color: #aaaaaa;
}

form, .tasksList{
    max-width: 400px;
    margin: auto;
}


fieldset {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
}

legend {
    font-size: 12pt;
    color: #444444;
}

form input {
    width: 100%;
    font-size: 12pt;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type=submit] {
    width: 100%;
    background-color: #33bb66;
    color: white;
    text-align: center;
    font-size: 12pt;
    padding: 12px 20px;
    margin: 8px 0px 0px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message
{
    text-align: center;
    margin-top: 15px;
}

.message.sucess
{
    color:forestgreen;
}

.message.error
{
    color:orangered;
}